@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300&display=swap');

:root {
    /* CSS HEX */
    --white: rgb(255, 255, 255);
    --mountbatten-pink: #ae82a3ff;
    --tea-green: #d0eca6ff;
    --cherry-blossom-pink: #ffb9ceff;
    --dark-purple: #1a1526ff;
}

body {
    background-color: var(--white);
    font-family: 'Noto Serif TC', serif;
    color: var(--dark-purple);
    margin: 0;
}

.content {
    display: flex;
}

.navbar-container {
    background-color: var(--tea-green);
    height: 9rem;
    width: 100%;
    position: fixed;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3rem;
    white-space: nowrap;
    gap: 3rem;
}

/* my name */
.emily {
    font-size: 40px;
    font-weight: 500;
    text-shadow: 2px 2px 3px var(--dark-purple);
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 25px;
}

/* buttons */
button {
    border: none;
    font-family: 'Noto Serif TC', serif;
    font-size: 20px;
    color: grey;
    background-color: transparent;
    cursor: pointer;
    height: 40px;
}

button:hover {
    color: black;
}

.main {
    display: flex;
    flex-direction: column;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 9rem;
}

.main-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* paragraph text */
p {
    font-size: 20px;
    text-align: center;
    margin: 0;
}

#headshot {
    display: block;
    /* border-radius: 50%; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

#ballbot {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
