@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300&display=swap');

:root {
    /* CSS HEX */
    --white: rgb(255, 255, 255);
    --mountbatten-pink: #ae82a3ff;
    --tea-green: #d0eca6ff;
    --cherry-blossom-pink: #ffb9ceff;
    --dark-purple: rgb(60, 33, 85);
}

body {
    background-color: var(--white);
    font-family: 'Noto Serif TC', serif;
    color: var(black);
    margin: 0;
}

.content {
    display: flex;
}

.navbar-container {
    background-color: var(--tea-green);
    height: 9rem;
    width: 100%;
    position: fixed;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3rem;
    white-space: nowrap;
    gap: 3rem;
}

/* my name */
.emily {
    font-size: 40px;
    font-weight: 500;
    /* animation-name: text-color; */
    animation-duration: 3s;
    animation-iteration-count: infinite;
    /* text-shadow: 2px 2px 3px var(--dark-purple); */
}

@keyframes text-color {
    0% {
        color: black;
    }
    50% {
        color: var(--cherry-blossom-pink);
    }
    100% {
        color: black;
    }
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
}

/* buttons */
button {
    border: none;
    font-family: 'Noto Serif TC', serif;
    font-size: 20px;
    color: grey;
    background-color: transparent;
    cursor: pointer;
    height: 40px;
}

button:hover {
    color: black;
}

/* .material-symbols-outlined {
    margin-top: 5px;
} */

.main {
    display: flex;
    flex-direction: row;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 9rem;
    gap: 30px;
}

.main-info {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around;  */
    align-items: center;
    align-self: center;
    font-size: 16px;
    gap: 10px;
}

.material-symbols-outlined {
    color: grey;
    text-shadow: 2px 2px var(--cherry-blossom-pink);
}

.email {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.resume {
    display: flex;
    color: black;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2px;
}

.resume-link {
    color: black;
}

.resume-link:hover {
    color: var(--mountbatten-pink);
}

/* .eyes:hover {
    color: var(--cherry-blossom-pink);
    transition: color linear 1s;
} */

.main-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-top: 2rem;
    font-size: 20px;
    line-height: 1.25;
}

.bio-link {
    color: black;
    text-shadow: 2px 2px var(--cherry-blossom-pink);
    text-decoration: none;
}

.bio-link:hover {
    color: var(--mountbatten-pink);
}

/* paragraph text */
p {
    /* font-size: 20px; */
    text-align: justify;
    margin: 0;
}

#headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 0;
    align-items: center;
    /* filter: grayscale(100%); */
}

#ballbot {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Project */

.projects-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 9rem;
    /* transition: ; */
}

.slideshow {
    margin: auto;
    display: flex;
    flex-direction: row;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    /* margin-top: -22px; */
    padding: 16px;
    color: grey;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
/* .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
} */

/* Number text (1/3 etc) */
/* .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
} */

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.4s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

